.contact__wrapper {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background: #1c4084;

  h4 {
    display: block;
    font-weight: 700 !important;
  }

  h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px !important;
    font-weight: 500;
  }
}

// contact form page styles
.ContactForm__wrapper {
  padding: 30px 0;

  .ContactForm__card {
    border: 1px solid #e7eaf2;
    // padding: 20px 0;
    margin: 20px 0;
    .ContactForm__leftSide {
      padding: 30px;
      .ContactForm__leftSide_button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button {
          background-color: #fb5d60 !important;
          // padding: 15px 30px !important;
          min-width: 150px;
          color: #fff;
        }
      }
    }
  }
}

// get in touch page styles here
.GetTouch__wrapper {
  padding: 50px 0;
  background-color: #13488e;
  .GetTouch__header {
    font-size: 40px;
    font-weight: medium;
    text-align: center;
    color: #dae9f2;
  }
  .GetTouch__box {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin: 30px 0;
    .GetTouch__icon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: #dae9f2;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
    }
    .GetTouch__title {
      margin: 15px 0;
      font-size: 24px;
      font-weight: bold;
    }
    .GetTouch__details {
      font-size: 16px;
      color: #fff;
    }
  }
}
