.mission__card {
  display: grid;
  place-items: center;
  overflow: hidden;

  h1 {
    color: #13488e;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
  }

  .underline {
    margin-bottom: 30px;
    height: 8px;
    width: 30%;
    background: #fb5d60;
    border-radius: 10px;

    @media screen and (max-width: 990px) {
      width: 50%;
    }
  }

  p {
    text-align: justify;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      text-align: left;
    }
  }
}
